In [343]:
import pandas as pd

doc = []
with open(r'C:\Users\Himanshu Poddar\Desktop\Coursera courses\Applied text mining with python\dates.txt') as file:
    for line in file:
        doc.append(line)

ori_df = pd.Series(doc)
ori_df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [344]:
#Applying Regex with pandas
ori_df = ori_df.str.extract('(\d{1,2}[-/]\d{1,2}[/-]\d{2,4})|(\d{1,2}/\d{4})|((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ -.]*\d{2}[thsdn, .-]*\d{4})|((?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[,. ]*\d{4})|(\d{4})')

c:\users\himanshu poddar\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [345]:
ori_df.iloc[271,4] = ""
ori_df.iloc[271,3] = "August 2008"

In [346]:
df = ori_df
df

              0    1    2    3     4
0      03/25/93  NaN  NaN  NaN   NaN
1       6/18/85  NaN  NaN  NaN   NaN
2        7/8/71  NaN  NaN  NaN   NaN
3       9/27/75  NaN  NaN  NaN   NaN
4        2/6/96  NaN  NaN  NaN   NaN
5       7/06/79  NaN  NaN  NaN   NaN
6       5/18/78  NaN  NaN  NaN   NaN
7      10/24/89  NaN  NaN  NaN   NaN
8        3/7/86  NaN  NaN  NaN   NaN
9       4/10/71  NaN  NaN  NaN   NaN
10      5/11/85  NaN  NaN  NaN   NaN
11      4/09/75  NaN  NaN  NaN   NaN
12      8/01/98  NaN  NaN  NaN   NaN
13      1/26/72  NaN  NaN  NaN   NaN
14    5/24/1990  NaN  NaN  NaN   NaN
15    1/25/2011  NaN  NaN  NaN   NaN
16      4/12/82  NaN  NaN  NaN   NaN
17   10/13/1976  NaN  NaN  NaN   NaN
18      4/24/98  NaN  NaN  NaN   NaN
19      5/21/77  NaN  NaN  NaN   NaN
20      7/21/98  NaN  NaN  NaN   NaN
21     10/21/79  NaN  NaN  NaN   NaN
22      3/03/90  NaN  NaN  NaN   NaN
23      2/11/76  NaN  NaN  NaN   NaN
24   07/25/1984  NaN  NaN  NaN   NaN
25      4-13-82  NaN  NaN  NaN   NaN
26      9/22/89  NaN  NaN  NaN   NaN
27      9/02/76  NaN  NaN  NaN   NaN
28      9/12/71  NaN  NaN  NaN   NaN
29     10/24/86  NaN  NaN  NaN   NaN
..          ...  ...  ...  ...   ...
470         NaN  NaN  NaN  NaN  1983
471         NaN  NaN  NaN  NaN  1999
472         NaN  NaN  NaN  NaN  2010
473         NaN  NaN  NaN  NaN  1975
474         NaN  NaN  NaN  NaN  1972
475         NaN  NaN  NaN  NaN  2015
476         NaN  NaN  NaN  NaN  1989
477         NaN  NaN  NaN  NaN  1994
478         NaN  NaN  NaN  NaN  1993
479         NaN  NaN  NaN  NaN  1996
480         NaN  NaN  NaN  NaN  2013
481         NaN  NaN  NaN  NaN  1974
482         NaN  NaN  NaN  NaN  1990
483         NaN  NaN  NaN  NaN  1995
484         NaN  NaN  NaN  NaN  2004
485         NaN  NaN  NaN  NaN  1987
486         NaN  NaN  NaN  NaN  1973
487         NaN  NaN  NaN  NaN  1992
488         NaN  NaN  NaN  NaN  1977
489         NaN  NaN  NaN  NaN  1985
490         NaN  NaN  NaN  NaN  2007
491         NaN  NaN  NaN  NaN  2009
492         NaN  NaN  NaN  NaN  1986
493         NaN  NaN  NaN  NaN  1978
494         NaN  NaN  NaN  NaN  2002
495         NaN  NaN  NaN  NaN  1979
496         NaN  NaN  NaN  NaN  2006
497         NaN  NaN  NaN  NaN  2008
498         NaN  NaN  NaN  NaN  2005
499         NaN  NaN  NaN  NaN  1980

[500 rows x 5 columns]

In [347]:
df = df.fillna('')
print(df.head(5))
print(df.tail(5))

          0 1 2 3 4
0  03/25/93
1   6/18/85
2    7/8/71
3   9/27/75
4    2/6/96
    0 1 2 3     4
495          1979
496          2006
497          2008
498          2005
499          1980

In [348]:
df

              0 1  2  3      4
0      03/25/93
1       6/18/85
2        7/8/71
3       9/27/75
4        2/6/96
5       7/06/79
6       5/18/78
7      10/24/89
8        3/7/86
9       4/10/71
10      5/11/85
11      4/09/75
12      8/01/98
13      1/26/72
14    5/24/1990
15    1/25/2011
16      4/12/82
17   10/13/1976
18      4/24/98
19      5/21/77
20      7/21/98
21     10/21/79
22      3/03/90
23      2/11/76
24   07/25/1984
25      4-13-82
26      9/22/89
27      9/02/76
28      9/12/71
29     10/24/86
..          ... .. .. ..   ...
470                       1983
471                       1999
472                       2010
473                       1975
474                       1972
475                       2015
476                       1989
477                       1994
478                       1993
479                       1996
480                       2013
481                       1974
482                       1990
483                       1995
484                       2004
485                       1987
486                       1973
487                       1992
488                       1977
489                       1985
490                       2007
491                       2009
492                       1986
493                       1978
494                       2002
495                       1979
496                       2006
497                       2008
498                       2005
499                       1980

[500 rows x 5 columns]

In [349]:
for i in range(0,500):
    df.iloc[i][0] = df.iloc[i][0].replace('-','/')

In [350]:
# replace 2 digit year with 4 digit year
df[0] = df[0].str.replace(r'/(\d{2})$', r'/19\1')

In [351]:
df[0]

0      03/25/1993
1       6/18/1985
2        7/8/1971
3       9/27/1975
4        2/6/1996
5       7/06/1979
6       5/18/1978
7      10/24/1989
8        3/7/1986
9       4/10/1971
10      5/11/1985
11      4/09/1975
12      8/01/1998
13      1/26/1972
14      5/24/1990
15      1/25/2011
16      4/12/1982
17     10/13/1976
18      4/24/1998
19      5/21/1977
20      7/21/1998
21     10/21/1979
22      3/03/1990
23      2/11/1976
24     07/25/1984
25      4/13/1982
26      9/22/1989
27      9/02/1976
28      9/12/1971
29     10/24/1986
          ...
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
Name: 0, Length: 500, dtype: object

In [430]:
list(df[2])

[NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 Timestamp('1990-04-11 00:00:00'),
 Timestamp('2001-05-30 00:00:00'),
 Timestamp('1994-02-18 00:00:00'),
 Timestamp('1981-02-18 00:00:00'),
 Timestamp('2013-10-11 00:00:00'),
 Timestamp('1986-01-24 00:00:00'),
 Timestamp('1978-07-26 00:00:00'),
 Timestamp('1999-12-23 00:00:00'),
 Timestamp('1989-05-15 00:00:00'),
 Timestamp('1995-09-06 00:00:00'),
 Timestamp('1976-03-10 00:00:00'),
 Timestamp('1983-01-27 00:00:00'),
 Timestamp('1990-10-23 00:00:00'),
 Timestamp('2004-08-12 00:00:00'),
 Timestamp('2012-09-01 00:00:00'),
 Timestamp('1983-07-25 00:00:00'),
 Timestamp('1989-08-11 00:00:00'),
 Timestamp('1992-04-17 00:00:00'),
 Timestamp('1999-07-24 00:00:00'),
 Timestamp('1997-07-11 00:00:00'),
 Timestamp('1974-09-10 00:00:00'),
 Timestamp('1981-08-14 00:00:00'),
 Timestamp('1988-11-11 00:00:00'),
 Timestamp('2011-06-13 00:00:00'),
 Timestamp('1989-05-14 00:00:00'),
 Timestamp('1975-12-14 00:00:00'),
 Timestamp('2012-06-25 00:00:00'),
 Timestamp('1980-10-18 00:00:00'),
 Timestamp('1998-05-15 00:00:00'),
 Timestamp('1974-10-14 00:00:00'),
 Timestamp('1998-07-25 00:00:00'),
 Timestamp('1972-06-15 00:00:00'),
 Timestamp('1991-01-07 00:00:00'),
 Timestamp('2011-09-15 00:00:00'),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT]

In [353]:
#converting month name to 3 letter
repl = lambda m: m.group(0)[:3]
df[2] = df[2].str.replace(r'([A-Za-z]+)', repl)
list(df[2])

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Apr 11, 1990',
 'May 30, 2001',
 'Feb 18, 1994',
 'Feb 18, 1981',
 'Oct. 11, 2013',
 'Jan 24 1986',
 'Jul 26, 1978',
 'Dec 23, 1999',
 'May 15, 1989',
 'Sep 06, 1995',
 'Mar. 10, 1976',
 'Jan 27, 1983',
 'Oct 23 1990',
 'Aug 12 2004',
 'Sep 01, 2012',
 'Jul 25, 1983',
 'Aug 11, 1989',
 'Apr 17, 1992',
 'Jul 24, 1999',
 'Jul 11, 1997',
 'Sep. 10, 1974',
 'Aug 14, 1981',
 'Nov 11, 1988',
 'Jun 13, 2011',
 'May 14, 1989',
 'Dec 14 1975',
 'Jun 25, 2012',
 'Oct 18, 1980',
 'May 15, 1998',
 'Oct 14 1974',
 'Jul 25, 1998',
 'Jun 15, 1972',
 'Jan 07, 1991',
 'Sep. 15, 2011',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [354]:
#cleaning the date, replace . and , by space
df[2] = df[2].str.replace('[.,]',' ')
#replace more than one space by /
df[2] = df[2].str.replace('[\s]+','/')
list(df[2])

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Apr/11/1990',
 'May/30/2001',
 'Feb/18/1994',
 'Feb/18/1981',
 'Oct/11/2013',
 'Jan/24/1986',
 'Jul/26/1978',
 'Dec/23/1999',
 'May/15/1989',
 'Sep/06/1995',
 'Mar/10/1976',
 'Jan/27/1983',
 'Oct/23/1990',
 'Aug/12/2004',
 'Sep/01/2012',
 'Jul/25/1983',
 'Aug/11/1989',
 'Apr/17/1992',
 'Jul/24/1999',
 'Jul/11/1997',
 'Sep/10/1974',
 'Aug/14/1981',
 'Nov/11/1988',
 'Jun/13/2011',
 'May/14/1989',
 'Dec/14/1975',
 'Jun/25/2012',
 'Oct/18/1980',
 'May/15/1998',
 'Oct/14/1974',
 'Jul/25/1998',
 'Jun/15/1972',
 'Jan/07/1991',
 'Sep/15/2011',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [431]:
list(df[3])

[NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 Timestamp('2001-01-24 00:00:00'),
 Timestamp('2004-09-10 00:00:00'),
 Timestamp('1982-05-26 00:00:00'),
 Timestamp('2002-06-28 00:00:00'),
 Timestamp('1972-05-06 00:00:00'),
 Timestamp('1987-10-25 00:00:00'),
 Timestamp('1996-10-14 00:00:00'),
 Timestamp('2007-11-30 00:00:00'),
 Timestamp('1994-06-28 00:00:00'),
 Timestamp('1981-01-14 00:00:00'),
 Timestamp('1985-10-10 00:00:00'),
 Timestamp('1985-02-11 00:00:00'),
 Timestamp('1983-02-10 00:00:00'),
 Timestamp('1992-02-05 00:00:00'),
 Timestamp('2012-10-21 00:00:00'),
 Timestamp('1995-02-14 00:00:00'),
 Timestamp('2016-05-30 00:00:00'),
 Timestamp('1996-01-22 00:00:00'),
 Timestamp('1992-10-14 00:00:00'),
 Timestamp('2003-10-06 00:00:00'),
 Timestamp('1999-10-18 00:00:00'),
 Timestamp('2004-11-11 00:00:00'),
 Timestamp('2001-05-30 00:00:00'),
 Timestamp('1978-02-02 00:00:00'),
 Timestamp('1989-09-09 00:00:00'),
 Timestamp('1980-03-12 00:00:00'),
 Timestamp('1990-06-22 00:00:00'),
 Timestamp('2015-09-28 00:00:00'),
 Timestamp('1972-01-13 00:00:00'),
 Timestamp('1974-03-06 00:00:00'),
 Timestamp('1974-10-10 00:00:00'),
 Timestamp('1974-05-26 00:00:00'),
 Timestamp('1990-02-10 00:00:00'),
 Timestamp('2000-08-23 00:00:00'),
 Timestamp('2001-05-26 00:00:00'),
 Timestamp('2007-10-21 00:00:00'),
 Timestamp('2016-10-19 00:00:00'),
 Timestamp('1974-03-05 00:00:00'),
 Timestamp('1994-01-29 00:00:00'),
 Timestamp('1978-10-21 00:00:00'),
 Timestamp('1975-08-18 00:00:00'),
 Timestamp('1996-11-11 00:00:00'),
 Timestamp('1979-10-01 00:00:00'),
 Timestamp('1986-10-13 00:00:00'),
 Timestamp('1995-10-21 00:00:00'),
 Timestamp('2011-01-24 00:00:00'),
 Timestamp('1972-10-04 00:00:00'),
 Timestamp('1993-08-23 00:00:00'),
 Timestamp('2006-10-18 00:00:00'),
 Timestamp('1988-12-04 00:00:00'),
 Timestamp('1983-10-21 00:00:00'),
 Timestamp('2010-05-26 00:00:00'),
 Timestamp('1990-01-18 00:00:00'),
 Timestamp('1985-06-15 00:00:00'),
 Timestamp('1982-12-10 00:00:00'),
 Timestamp('1988-12-09 00:00:00'),
 Timestamp('1995-08-18 00:00:00'),
 Timestamp('1974-06-13 00:00:00'),
 Timestamp('2008-05-26 00:00:00'),
 Timestamp('2002-11-11 00:00:00'),
 Timestamp('1985-08-17 00:00:00'),
 Timestamp('2016-10-13 00:00:00'),
 Timestamp('2008-01-14 00:00:00'),
 Timestamp('2004-03-12 00:00:00'),
 Timestamp('1977-10-21 00:00:00'),
 Timestamp('2000-08-10 00:00:00'),
 Timestamp('1972-11-30 00:00:00'),
 Timestamp('1993-05-06 00:00:00'),
 Timestamp('1995-01-18 00:00:00'),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 Timestamp('1985-09-01 00:00:00'),
 Timestamp('2011-06-01 00:00:00'),
 Timestamp('1986-05-01 00:00:00'),
 Timestamp('2016-05-01 00:00:00'),
 Timestamp('1977-07-01 00:00:00'),
 Timestamp('1990-07-01 00:00:00'),
 Timestamp('2003-07-01 00:00:00'),
 Timestamp('2015-10-01 00:00:00'),
 Timestamp('1995-05-01 00:00:00'),
 Timestamp('1976-02-01 00:00:00'),
 Timestamp('1995-01-01 00:00:00'),
 Timestamp('1978-02-01 00:00:00'),
 Timestamp('2011-05-01 00:00:00'),
 Timestamp('2004-05-01 00:00:00'),
 Timestamp('2010-11-01 00:00:00'),
 Timestamp('2012-09-01 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('1990-11-01 00:00:00'),
 Timestamp('1981-07-01 00:00:00'),
 Timestamp('1983-05-01 00:00:00'),
 Timestamp('1995-07-01 00:00:00'),
 Timestamp('1993-04-01 00:00:00'),
 Timestamp('2005-05-01 00:00:00'),
 Timestamp('1998-12-01 00:00:00'),
 Timestamp('2007-01-01 00:00:00'),
 Timestamp('2016-02-01 00:00:00'),
 Timestamp('1979-08-01 00:00:00'),
 Timestamp('2014-10-01 00:00:00'),
 Timestamp('1988-08-01 00:00:00'),
 Timestamp('2015-09-01 00:00:00'),
 Timestamp('1976-04-01 00:00:00'),
 Timestamp('1979-11-01 00:00:00'),
 Timestamp('2000-02-01 00:00:00'),
 Timestamp('1986-10-01 00:00:00'),
 Timestamp('2002-06-01 00:00:00'),
 Timestamp('1981-09-01 00:00:00'),
 Timestamp('2007-06-01 00:00:00'),
 Timestamp('1989-04-01 00:00:00'),
 Timestamp('1999-09-01 00:00:00'),
 Timestamp('1980-10-01 00:00:00'),
 Timestamp('2009-12-01 00:00:00'),
 Timestamp('1992-07-01 00:00:00'),
 Timestamp('2006-05-01 00:00:00'),
 Timestamp('2008-08-01 00:00:00'),
 Timestamp('1993-02-01 00:00:00'),
 Timestamp('2010-02-01 00:00:00'),
 Timestamp('1985-04-01 00:00:00'),
 Timestamp('1984-09-01 00:00:00'),
 Timestamp('1986-04-01 00:00:00'),
 Timestamp('2007-04-01 00:00:00'),
 Timestamp('1974-09-01 00:00:00'),
 Timestamp('2013-09-01 00:00:00'),
 Timestamp('1985-07-01 00:00:00'),
 Timestamp('2004-08-01 00:00:00'),
 Timestamp('2012-05-01 00:00:00'),
 Timestamp('1977-02-01 00:00:00'),
 Timestamp('1987-01-01 00:00:00'),
 Timestamp('1983-09-01 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('2010-03-01 00:00:00'),
 Timestamp('2009-08-01 00:00:00'),
 Timestamp('2007-09-01 00:00:00'),
 Timestamp('2011-12-01 00:00:00'),
 Timestamp('2004-01-01 00:00:00'),
 Timestamp('1995-11-01 00:00:00'),
 Timestamp('2008-09-01 00:00:00'),
 Timestamp('1983-02-01 00:00:00'),
 Timestamp('1983-03-01 00:00:00'),
 Timestamp('1979-08-01 00:00:00'),
 Timestamp('2009-01-01 00:00:00'),
 Timestamp('1993-01-01 00:00:00'),
 Timestamp('1974-03-01 00:00:00'),
 Timestamp('1994-01-01 00:00:00'),
 Timestamp('1992-12-01 00:00:00'),
 Timestamp('2004-11-01 00:00:00'),
 Timestamp('1977-01-01 00:00:00'),
 Timestamp('2002-03-01 00:00:00'),
 Timestamp('2000-02-01 00:00:00'),
 Timestamp('2004-05-01 00:00:00'),
 Timestamp('2006-07-01 00:00:00'),
 Timestamp('1994-02-01 00:00:00'),
 Timestamp('1977-04-01 00:00:00'),
 Timestamp('1992-10-01 00:00:00'),
 Timestamp('1995-02-01 00:00:00'),
 Timestamp('1989-02-01 00:00:00'),
 Timestamp('1978-12-01 00:00:00'),
 Timestamp('2007-01-01 00:00:00'),
 Timestamp('1976-06-01 00:00:00'),
 Timestamp('2011-05-01 00:00:00'),
 Timestamp('1975-03-01 00:00:00'),
 Timestamp('1978-01-01 00:00:00'),
 Timestamp('1975-07-01 00:00:00'),
 Timestamp('2012-11-01 00:00:00'),
 Timestamp('1999-06-01 00:00:00'),
 Timestamp('1991-10-01 00:00:00'),
 Timestamp('1973-03-01 00:00:00'),
 Timestamp('1996-10-01 00:00:00'),
 Timestamp('2007-06-01 00:00:00'),
 Timestamp('1995-10-01 00:00:00'),
 Timestamp('1999-04-01 00:00:00'),
 Timestamp('2001-05-01 00:00:00'),
 Timestamp('2000-03-01 00:00:00'),
 Timestamp('1988-04-01 00:00:00'),
 Timestamp('1993-12-01 00:00:00'),
 Timestamp('1974-06-01 00:00:00'),
 Timestamp('1997-11-01 00:00:00'),
 Timestamp('1986-07-01 00:00:00'),
 Timestamp('1973-02-01 00:00:00'),
 Timestamp('1978-03-01 00:00:00'),
 Timestamp('2007-12-01 00:00:00'),
 Timestamp('1998-04-01 00:00:00'),
 Timestamp('2005-03-01 00:00:00'),
 Timestamp('1980-05-01 00:00:00'),
 Timestamp('2007-11-01 00:00:00'),
 Timestamp('1976-03-01 00:00:00'),
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT]

In [356]:
#For data having only mm/yy , assuming it to be the first of that month and then replacing
df[3] = df[3].str.replace(r'(^[a-zA-Z])',r'01 \1')
df[3] = df[3].str.replace(r'([A-Za-z]+)', repl)

In [357]:
#cleaning the date, replace . and , by space
df[3] = df[3].str.replace('[.,]',' ')
#replace more than one space by /
df[3] = df[3].str.replace('[\s]+','/')
list(df[3])

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '24/Jan/2001',
 '10/Sep/2004',
 '26/May/1982',
 '28/Jun/2002',
 '06/May/1972',
 '25/Oct/1987',
 '14/Oct/1996',
 '30/Nov/2007',
 '28/Jun/1994',
 '14/Jan/1981',
 '10/Oct/1985',
 '11/Feb/1985',
 '10/Feb/1983',
 '05/Feb/1992',
 '21/Oct/2012',
 '14/Feb/1995',
 '30/May/2016',
 '22/Jan/1996',
 '14/Oct/1992',
 '06/Oct/2003',
 '18/Oct/1999',
 '11/Nov/2004',
 '30/May/2001',
 '02/Feb/1978',
 '09/Sep/1989',
 '12/Mar/1980',
 '22/Jun/1990',
 '28/Sep/2015',
 '13/Jan/1972',
 '06/Mar/1974',
 '10/Oct/1974',
 '26/May/1974',
 '10/Feb/1990',
 '23/Aug/2000',
 '26/May/2001',
 '21/Oct/2007',
 '19/Oct/2016',
 '05/Mar/1974',
 '29/Jan/1994',
 '21/Oct/1978',
 '18/Aug/1975',
 '11/Nov/1996',
 '01/Oct/1979',
 '13/Oct/1986',
 '21/Oct/1995',
 '24/Jan/2011',
 '04/Oct/1972',
 '23/Aug/1993',
 '18/Oct/2006',
 '04/Dec/1988',
 '21/Oct/1983',
 '26/May/2010',
 '18/Jan/1990',
 '15/Jun/1985',
 '10/Dec/1982',
 '09/Dec/1988',
 '18/Aug/1995',
 '13/Jun/1974',
 '26/May/2008',
 '11/Nov/2002',
 '17/Aug/1985',
 '13/Oct/2016',
 '14/Jan/2008',
 '12/Mar/2004',
 '21/Oct/1977',
 '10/Aug/2000',
 '30/Nov/1972',
 '06/May/1993',
 '18/Jan/1995',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '01/Sep/1985',
 '01/Jun/2011',
 '01/May/1986',
 '01/May/2016',
 '01/Jul/1977',
 '01/Jul/1990',
 '01/Jul/2003',
 '01/Oct/2015',
 '01/May/1995',
 '01/Feb/1976',
 '01/Jan/1995',
 '01/Feb/1978',
 '01/May/2011',
 '01/May/2004',
 '01/Nov/2010',
 '01/Sep/2012',
 '01/Jan/2013',
 '01/Nov/1990',
 '01/Jul/1981',
 '01/May/1983',
 '01/Jul/1995',
 '01/Apr/1993',
 '01/May/2005',
 '01/Dec/1998',
 '01/Jan/2007',
 '01/Feb/2016',
 '01/Aug/1979',
 '01/Oct/2014',
 '01/Aug/1988',
 '01/Sep/2015',
 '01/Apr/1976',
 '01/Nov/1979',
 '01/Feb/2000',
 '01/Oct/1986',
 '01/Jun/2002',
 '01/Sep/1981',
 '01/Jun/2007',
 '01/Apr/1989',
 '01/Sep/1999',
 '01/Oct/1980',
 '01/Dec/2009',
 '01/Jul/1992',
 '01/May/2006',
 '01/Aug/2008',
 '01/Feb/1993',
 '01/Feb/2010',
 '01/Apr/1985',
 '01/Sep/1984',
 '01/Apr/1986',
 '01/Apr/2007',
 '01/Sep/1974',
 '01/Sep/2013',
 '01/Jul/1985',
 '01/Aug/2004',
 '01/May/2012',
 '01/Feb/1977',
 '01/Jan/1987',
 '01/Sep/1983',
 '01/Jan/2013',
 '01/Mar/2010',
 '01/Aug/2009',
 '01/Sep/2007',
 '01/Dec/2011',
 '01/Jan/2004',
 '01/Nov/1995',
 '01/Sep/2008',
 '01/Feb/1983',
 '01/Mar/1983',
 '01/Aug/1979',
 '01/Jan/2009',
 '01/Jan/1993',
 '01/Mar/1974',
 '01/Jan/1994',
 '01/Dec/1992',
 '01/Nov/2004',
 '01/Jan/1977',
 '01/Mar/2002',
 '01/Feb/2000',
 '01/May/2004',
 '01/Jul/2006',
 '01/Feb/1994',
 '01/Apr/1977',
 '01/Oct/1992',
 '01/Feb/1995',
 '01/Feb/1989',
 '01/Dec/1978',
 '01/Jan/2007',
 '01/Jun/1976',
 '01/May/2011',
 '01/Mar/1975',
 '01/Jan/1978',
 '01/Jul/1975',
 '01/Nov/2012',
 '01/Jun/1999',
 '01/Oct/1991',
 '01/Mar/1973',
 '01/Oct/1996',
 '01/Jun/2007',
 '01/Oct/1995',
 '01/Apr/1999',
 '01/May/2001',
 '01/Mar/2000',
 '01/Apr/1988',
 '01/Dec/1993',
 '01/Jun/1974',
 '01/Nov/1997',
 '01/Jul/1986',
 '01/Feb/1973',
 '01/Mar/1978',
 '01/Dec/2007',
 '01/Apr/1998',
 '01/Mar/2005',
 '01/May/1980',
 '01/Nov/2007',
 '01/Mar/1976',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [358]:
df

              0 1  2  3      4
0    03/25/1993
1     6/18/1985
2      7/8/1971
3     9/27/1975
4      2/6/1996
5     7/06/1979
6     5/18/1978
7    10/24/1989
8      3/7/1986
9     4/10/1971
10    5/11/1985
11    4/09/1975
12    8/01/1998
13    1/26/1972
14    5/24/1990
15    1/25/2011
16    4/12/1982
17   10/13/1976
18    4/24/1998
19    5/21/1977
20    7/21/1998
21   10/21/1979
22    3/03/1990
23    2/11/1976
24   07/25/1984
25    4/13/1982
26    9/22/1989
27    9/02/1976
28    9/12/1971
29   10/24/1986
..          ... .. .. ..   ...
470                       1983
471                       1999
472                       2010
473                       1975
474                       1972
475                       2015
476                       1989
477                       1994
478                       1993
479                       1996
480                       2013
481                       1974
482                       1990
483                       1995
484                       2004
485                       1987
486                       1973
487                       1992
488                       1977
489                       1985
490                       2007
491                       2009
492                       1986
493                       1978
494                       2002
495                       1979
496                       2006
497                       2008
498                       2005
499                       1980

[500 rows x 5 columns]

In [359]:
from pandas import ExcelWriter
writer = ExcelWriter(r'C:\Users\Himanshu Poddar\Desktop\Coursera courses\Applied text mining with python\assignment1.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()

In [360]:
list(df[0])

['03/25/1993',
 '6/18/1985',
 '7/8/1971',
 '9/27/1975',
 '2/6/1996',
 '7/06/1979',
 '5/18/1978',
 '10/24/1989',
 '3/7/1986',
 '4/10/1971',
 '5/11/1985',
 '4/09/1975',
 '8/01/1998',
 '1/26/1972',
 '5/24/1990',
 '1/25/2011',
 '4/12/1982',
 '10/13/1976',
 '4/24/1998',
 '5/21/1977',
 '7/21/1998',
 '10/21/1979',
 '3/03/1990',
 '2/11/1976',
 '07/25/1984',
 '4/13/1982',
 '9/22/1989',
 '9/02/1976',
 '9/12/1971',
 '10/24/1986',
 '03/31/1985',
 '7/20/1972',
 '4/12/1987',
 '06/20/1991',
 '5/12/2012',
 '3/15/1983',
 '2/14/1973',
 '5/24/1988',
 '7/27/1986',
 '1/14/1981',
 '7/29/1975',
 '6/24/1987',
 '8/14/1994',
 '4/13/2002',
 '8/16/1982',
 '2/15/1998',
 '7/15/1991',
 '06/12/1994',
 '9/17/1984',
 '2/28/1975',
 '11/22/1975',
 '5/24/1991',
 '6/13/1992',
 '7/11/1971',
 '12/26/1986',
 '10/11/1987',
 '3/14/1995',
 '12/01/1973',
 '12/5/2010',
 '08/20/1982',
 '7/24/1995',
 '8/06/1983',
 '02/22/1992',
 '6/28/1987',
 '07/29/1994',
 '08/11/1978',
 '10/29/1991',
 '7/6/1991',
 '1/21/1987',
 '11/3/1985',
 '7/04/1982',
 '4/13/1989',
 '7/11/1977',
 '4/12/1974',
 '09/19/1981',
 '9/6/1979',
 '12/5/1987',
 '01/05/1999',
 '4/22/1980',
 '10/04/1998',
 '6/29/1981',
 '8/04/1978',
 '7/07/1974',
 '09/14/2000',
 '5/18/1971',
 '8/09/1981',
 '6/05/1993',
 '8/9/1997',
 '12/8/1982',
 '8/26/1989',
 '10/13/1995',
 '4/19/1991',
 '04/08/2004',
 '9/20/1976',
 '12/08/1990',
 '4/11/1974',
 '7/18/1986',
 '3/31/1991',
 '5/13/1972',
 '11/14/1983',
 '8/16/1992',
 '10/05/1997',
 '07/18/2002',
 '9/22/1982',
 '2/24/1974',
 '2/03/1978',
 '2/11/2006',
 '8/22/1983',
 '5/04/1974',
 '7/20/2011',
 '6/17/1995',
 '6/10/1972',
 '10/16/1982',
 '12/15/1992',
 '12/8/1997',
 '4/05/1989',
 '12/04/1987',
 '6/20/1977',
 '4/27/2006',
 '07/17/1992',
 '12/22/1998',
 '10/02/1996',
 '11/05/1990',
 '5/04/1977',
 '2/27/1996',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [440]:
df.drop(['ColumnA'],1,inplace = True)

In [441]:
#Converting to timestamp
df

             0   1   2   3          4       dates
0   1993-03-25 NaT NaT NaT        NaT  1993-03-25
1   1985-06-18 NaT NaT NaT        NaT  1985-06-18
2   1971-07-08 NaT NaT NaT        NaT  1971-07-08
3   1975-09-27 NaT NaT NaT        NaT  1975-09-27
4   1996-02-06 NaT NaT NaT        NaT  1996-02-06
5   1979-07-06 NaT NaT NaT        NaT  1979-07-06
6   1978-05-18 NaT NaT NaT        NaT  1978-05-18
7   1989-10-24 NaT NaT NaT        NaT  1989-10-24
8   1986-03-07 NaT NaT NaT        NaT  1986-03-07
9   1971-04-10 NaT NaT NaT        NaT  1971-04-10
10  1985-05-11 NaT NaT NaT        NaT  1985-05-11
11  1975-04-09 NaT NaT NaT        NaT  1975-04-09
12  1998-08-01 NaT NaT NaT        NaT  1998-08-01
13  1972-01-26 NaT NaT NaT        NaT  1972-01-26
14  1990-05-24 NaT NaT NaT        NaT  1990-05-24
15  2011-01-25 NaT NaT NaT        NaT  2011-01-25
16  1982-04-12 NaT NaT NaT        NaT  1982-04-12
17  1976-10-13 NaT NaT NaT        NaT  1976-10-13
18  1998-04-24 NaT NaT NaT        NaT  1998-04-24
19  1977-05-21 NaT NaT NaT        NaT  1977-05-21
20  1998-07-21 NaT NaT NaT        NaT  1998-07-21
21  1979-10-21 NaT NaT NaT        NaT  1979-10-21
22  1990-03-03 NaT NaT NaT        NaT  1990-03-03
23  1976-02-11 NaT NaT NaT        NaT  1976-02-11
24  1984-07-25 NaT NaT NaT        NaT  1984-07-25
25  1982-04-13 NaT NaT NaT        NaT  1982-04-13
26  1989-09-22 NaT NaT NaT        NaT  1989-09-22
27  1976-09-02 NaT NaT NaT        NaT  1976-09-02
28  1971-09-12 NaT NaT NaT        NaT  1971-09-12
29  1986-10-24 NaT NaT NaT        NaT  1986-10-24
..         ...  ..  ..  ..        ...         ...
470        NaT NaT NaT NaT 1983-01-01  1983-01-01
471        NaT NaT NaT NaT 1999-01-01  1999-01-01
472        NaT NaT NaT NaT 2010-01-01  2010-01-01
473        NaT NaT NaT NaT 1975-01-01  1975-01-01
474        NaT NaT NaT NaT 1972-01-01  1972-01-01
475        NaT NaT NaT NaT 2015-01-01  2015-01-01
476        NaT NaT NaT NaT 1989-01-01  1989-01-01
477        NaT NaT NaT NaT 1994-01-01  1994-01-01
478        NaT NaT NaT NaT 1993-01-01  1993-01-01
479        NaT NaT NaT NaT 1996-01-01  1996-01-01
480        NaT NaT NaT NaT 2013-01-01  2013-01-01
481        NaT NaT NaT NaT 1974-01-01  1974-01-01
482        NaT NaT NaT NaT 1990-01-01  1990-01-01
483        NaT NaT NaT NaT 1995-01-01  1995-01-01
484        NaT NaT NaT NaT 2004-01-01  2004-01-01
485        NaT NaT NaT NaT 1987-01-01  1987-01-01
486        NaT NaT NaT NaT 1973-01-01  1973-01-01
487        NaT NaT NaT NaT 1992-01-01  1992-01-01
488        NaT NaT NaT NaT 1977-01-01  1977-01-01
489        NaT NaT NaT NaT 1985-01-01  1985-01-01
490        NaT NaT NaT NaT 2007-01-01  2007-01-01
491        NaT NaT NaT NaT 2009-01-01  2009-01-01
492        NaT NaT NaT NaT 1986-01-01  1986-01-01
493        NaT NaT NaT NaT 1978-01-01  1978-01-01
494        NaT NaT NaT NaT 2002-01-01  2002-01-01
495        NaT NaT NaT NaT 1979-01-01  1979-01-01
496        NaT NaT NaT NaT 2006-01-01  2006-01-01
497        NaT NaT NaT NaT 2008-01-01  2008-01-01
498        NaT NaT NaT NaT 2005-01-01  2005-01-01
499        NaT NaT NaT NaT 1980-01-01  1980-01-01

[500 rows x 6 columns]

In [361]:
df[0] = pd.to_datetime(df[0], format='%m/%d/%Y',errors = 'coerce')

In [366]:
df[1] = pd.to_datetime(df[1], format='%m/%Y',errors = 'coerce')

In [370]:
df[2] = pd.to_datetime(df[2], format='%b/%d/%Y',errors = 'coerce')

In [390]:
df[3] = pd.to_datetime(df[3], format='%d/%b/%Y',errors = 'coerce')

In [395]:
df[4] = pd.to_datetime(df[4], format='%Y',errors = 'coerce')

In [407]:
#combining the dates in different columns
df['dates'] = df[[0,1,2,3,4]].apply(lambda x: ''.join(x.dropna().astype(str)),axis=1)

In [446]:
df['dates'].sort_values()

9      1971-04-10
84     1971-05-18
2      1971-07-08
53     1971-07-11
28     1971-09-12
474    1972-01-01
153    1972-01-13
13     1972-01-26
129    1972-05-06
98     1972-05-13
111    1972-06-10
225    1972-06-15
31     1972-07-20
171    1972-10-04
191    1972-11-30
486    1973-01-01
335    1973-02-01
415    1973-02-01
36     1973-02-14
405    1973-03-01
323    1973-03-01
422    1973-04-01
375    1973-06-01
380    1973-07-01
345    1973-10-01
57     1973-12-01
481    1974-01-01
436    1974-02-01
104    1974-02-24
299    1974-03-01
          ...
220    2012-06-25
208    2012-09-01
243    2012-09-01
139    2012-10-21
320    2012-11-01
383    2012-12-01
244    2013-01-01
286    2013-01-01
480    2013-01-01
431    2013-04-01
279    2013-09-01
198    2013-10-11
381    2014-01-01
463    2014-01-01
366    2014-07-01
439    2014-10-01
255    2014-10-01
401    2014-12-01
475    2015-01-01
257    2015-09-01
152    2015-09-28
235    2015-10-01
464    2016-01-01
253    2016-02-01
427    2016-05-01
231    2016-05-01
141    2016-05-30
186    2016-10-13
161    2016-10-19
413    2016-11-01
Name: dates, Length: 500, dtype: object

In [394]:
from pandas import ExcelWriter
writer = ExcelWriter(r'C:\Users\Himanshu Poddar\Desktop\Coursera courses\Applied text mining with python\assignmenttimestamp.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()

In [447]:
#creating a copy
dates = df['dates'].copy()

In [448]:
#sorting the values
dates.sort_values(inplace = True)
pd.DataFrame(dates.index)

       0
0      9
1     84
2      2
3     53
4     28
5    474
6    153
7     13
8    129
9     98
10   111
11   225
12    31
13   171
14   191
15   486
16   335
17   415
18    36
19   405
20   323
21   422
22   375
23   380
24   345
25    57
26   481
27   436
28   104
29   299
..   ...
470  220
471  208
472  243
473  139
474  320
475  383
476  244
477  286
478  480
479  431
480  279
481  198
482  381
483  463
484  366
485  439
486  255
487  401
488  475
489  257
490  152
491  235
492  464
493  253
494  427
495  231
496  141
497  186
498  161
499  413

[500 rows x 1 columns]